/*General*/
*{
    font-family: Arial;
    color: black;
    margin: 0;
    padding: 0;
}

/*Title font settings and effects*/
.content{
    text-align: justify;
    cursor: pointer;
}

.content a{
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    transition: 1s;
    text-decoration: none;
}
.content h2{
    font-family: Sans-serif;
    font-size: 30px;
    color: #fff;
}

.content a:hover{
    -webkit-text-stroke: 1.5px #fff;
    transition: .7s;
    color: transparent;
}

/*Custom scrollbar that overwrites the default one
::-webkit-scrollbar{
    width: 10em;
}
*/
/*Video playing in the background*/
.backgroundvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .backgroundvideo{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .backgroundvideo{
        width: auto;
        height: 100%;
    }
}

.stock h3{
    text-align: center;
    color: white;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 500vh;
}